# #Basic Python Syntax

1] Back slash - Used for continuation.

In [1]:
print("Hello   
      Everyone")

SyntaxError: EOL while scanning string literal (<ipython-input-1-f5ec9d619524>, line 1)

To deal with this situation we use back slash.

In [2]:
print("Hello\
Everyone")

HelloEveryone

2] Triple Quotes - > To print text art as it is.
                   > To make document string.
                   > To make SQL statements.

In [3]:
print("""Hii""")

Hii

In [4]:
print("""_/﹋\_
(҂`_´)
<,︻╦╤─ ҉ - -
_/﹋\_""")

_/﹋\_
(҂`_´)
<,︻╦╤─ ҉ - -
_/﹋\_

3] String inside the quotes -

In [5]:
print("Python's World")

Python's World

In [6]:
print('Python's world')

SyntaxError: invalid syntax (<ipython-input-6-98b624cce3c5>, line 1)

To deal with this we write as follows;

4] Escape sequence of string

In [8]:
print('python\'s world')

python's world

In [10]:
print("Hello\tworld")

Hello	world

In [11]:
print("hello\nworld")

hello
world

4] Formated output

In [16]:
name="kajal"
marks=80.789
age=20
print("The name of person is",name,"she got",marks,"marks and her age is ",age)

The name of person is kajal she got 80.789 marks and her age is  20

In [17]:
print("The name of person is %s she got %f marks and her age is %d"%(name,marks,age))

The name of person is kajal she got 80.789000 marks and her age is 20

In [18]:
print("The name of person is %s she got %7.2f marks and her age is %d"%(name,marks,age))

The name of person is kajal she got   80.79 marks and her age is 20

In [19]:
print(f"The name of person is {name}")

The name of person is kajal

## Python Variables

linking data to a name.
According to data type interpreter reserves memory space.
refers to memory location that contains data.

In [20]:
a=20

In [21]:
id(a)

140703645410288

Rules to define variable

1] Keyword cannot be used as variable.

In [22]:
if=10

SyntaxError: invalid syntax (<ipython-input-22-d804dbd42c9d>, line 1)

In [24]:
if1=10
print(if1)

10

2] Can contain letters, numbers, and Underscore.

In [25]:
cisco_Temp12=90
print(cisco_Temp12)

90

3] cannot start with numbers.

In [26]:
1a=10

SyntaxError: invalid syntax (<ipython-input-26-442bddfef1a1>, line 1)

4] Python is case sensitive so variable also case sensitive.

In [27]:
A=10
a=20
print(a)
print(A)

20
10

5] Assigned data using assignment operator

# Python Assignment statement

In [29]:
x=y=z=20
print(x)
print(y)
print(z)

20
20
20

In [30]:
id(x)

140703645410288

In [31]:
id(y)

140703645410288

In [32]:
del x

In [33]:
print(x)

NameError: name 'x' is not defined

# Python Operators

1] Arithmatic Operators

In [34]:
a=20
b=10
print(a+b)

30

In [35]:
print(a-b)

10

In [36]:
print(a*b)

200

In [37]:
print(a/b)

2.0

In python 3, int / int gives float value.

In [38]:
print(5**2)

25

In [39]:
print(a//b)

2

Floor division(//) - After performing division it returns the lower interger value as result.

2] Comparison Operator - Return boolean value i.e. True or false.

In [40]:
a==b

False

In [41]:
a<b

False

In [42]:
a>b

True

In [43]:
a<=b

False

In [44]:
a>=b

True

In [45]:
a!=b

True

3] Assignment Operator(=,+=,-=,* =,/=,** =)

In [47]:
a=10
b=5
a+=b
print(a)

15

In [49]:
a-=b
print(a)

10

4] Bitwise Operator (&,|,~,^,<<,>>)

In [50]:
a=240
b=1
a|b

241

In [51]:
bin(a)

'0b11110000'

In [52]:
bin(b)

'0b1'

In [53]:
a&b

0

5] Logical Operator(And,Or,Not)

In [54]:
a=1
b=20
a>20 and 10>9

False

In [55]:
a>20 or 10>9

True

In [56]:
10>9 or 20>m

True

In [57]:
10>9 and 20>m

NameError: name 'm' is not defined

In [58]:
10<9 and 20>m

False

6] Membership Operator(in, not in)

In [59]:
str1="PythonProgramming"
"a" in str1

True

In [60]:
"L" not in str1

True

In [61]:
"X" in str1

False

7] Identity operator(is,is not)

In [62]:
a=10
b=10
a==b

True

In [63]:
a is b

True

In [64]:
id(a)

140703645409968

In [65]:
id(b)

140703645409968

In [66]:
a is not b

False

In [67]:
a=1.5
b=1.5
a==b

True

In [68]:
a is b

False

In [69]:
id(a)

2408326773168

In [70]:
id(b)

2408326772560

for int -5 to 256 it uses same memory location for same values of variables.

In [71]:
a=257
b=257
a==b

True

In [72]:
a is b

False

Because it uses different memory location.

# Operator precedence

In [73]:
10/20*4

2.0

In [74]:
10+10/20*4

12.0

In [75]:
2**-1

0.5